<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-about.css" />
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Brendan Eich is a highly influential figure in the software development and tech industry, best known for creating the JavaScript programming language. Here's an overview of what he is about:

        As the creator of JavaScript:
        - Brendan Eich developed JavaScript in 1995 while working at Netscape. This scripting language revolutionized web development by enabling interactive and dynamic features on websites.
        
        Advocacy for an open web:
        - Eich co-founded the Mozilla project, aiming to promote open-source software and maintain an open and accessible web. He played a critical role in developing the Mozilla web browser, which evolved into Firefox.
        
        Innovation in web browsers:
        - Brendan Eich's work on browsers like Firefox and Brave focused on pushing the boundaries of web browsing. These browsers aim to provide users with improved performance, security, and privacy.
        
        JavaScript standards and evolution:
        - Eich has actively participated in the ECMAScript committee, responsible for standardizing JavaScript. He has worked on evolving the language, adding new features while ensuring compatibility with existing code.
        
        Privacy and security focus:
        - Eich has shown a strong commitment to user privacy and security in his browser projects. Both Firefox and Brave incorporate features to protect users from data tracking and surveillance.
        
        Entrepreneurship:
        - Beyond his technical contributions, Eich co-founded Brave Software, a company focused on reimagining the web browsing experience with an emphasis on user privacy and fairness to content creators.</p>
    <p>Back <a href="/home">Home</a></p>
    <p>His <a href="/works">Works</a></p>
    <p><a href="/pictures">Pictures</a></p>
</body>
</html>