<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Brendan Eich</title>
</head>
<body>
    <h1>Welcome Vistor</h1>
    <h4>You will be taking a tour on the life of Brendan Eich</h4>
    <img src = "/images/Brendan.jpg"/>
    <p>His <a href="/works">Works</a></p>
    <p>What he's <a href="/about">About</a></p>
    <p><a href="/pictures">Pictures</a></p>
</body>
</html>