<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-pictures.css" />
    <title>Pictures</title>
</head>
<body>
    <div class="picture-container">
        <img src="/images/img1.jpg" alt="Image 1">
        <img src="/images/img2.jpg" alt="Image 2">
        <img src="/images/img3.jpg" alt="Image 3">
        <!-- Add more images here as needed -->
    </div>
    <p>Back <a href="/home">Home</a></p>
    <p>His <a href="/works">Works</a></p>
    <p>What he's <a href="/about">About</a></p> 
</body>
</html>