<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-works.css" />
    <title>Works</title>
</head>
<body>
    <h1>Works</h1>
    <p>Brendan Eich, the creator of JavaScript, is a well-known figure in the software development industry. Apart from his significant contribution to JavaScript, he has worked on various projects and held positions in prominent tech companies. Here are some notable aspects of his career:
       <ul>
        <li> JavaScript: As mentioned earlier, Brendan Eich is best known for creating JavaScript while working at Netscape in 1995. JavaScript quickly became a fundamental scripting language for web development and has since played a crucial role in shaping the modern web.</li>        
       
        <li> Mozilla: After leaving Netscape, Eich co-founded the Mozilla project in 1998. Mozilla aimed to develop open-source software and promote an open web. He played a key role in the development of the Mozilla web browser, which eventually evolved into Firefox.</li>
        
        <li> Firefox: Brendan Eich's involvement with Mozilla led to his work on the Firefox web browser. Firefox gained significant popularity as an alternative to Internet Explorer and played a crucial role in advancing web standards and promoting a more open and accessible web.</li>
        
        <li>Brave: In 2015, Brendan Eich co-founded Brave Software, a company that developed the Brave web browser. Brave is known for its focus on privacy, security, and blocking intrusive ads by default. The browser allows users to support content creators through its Basic Attention Token (BAT) system.</li>
        
        <li> JavaScript Standards: Eich has been actively involved in the development of JavaScript standards through his participation in the ECMAScript committee. ECMAScript is the official specification for the JavaScript language, and the committee works on evolving the language over time.</li>
        
        <li> Other Contributions: In addition to his work on JavaScript and web browsers, Brendan Eich has made various contributions to the tech industry, particularly in the areas of programming languages, compilers, and software development.</li>
       </ul>
    </p>
    <p>Back <a href="/home">Home</a></p>
    <p>What he's <a href="/about">About</a></p>
    <p><a href="/pictures">Pictures</a></p>
</body>
</html>